@tailwind base;
@tailwind components;
@tailwind utilities;


.headings2{
    @apply text-sm px-3 text-white 
}
.btn{
    @apply hover:bg-slate-400 m-1;

}

.rotat{
    @apply rotate-180;
}
.headings3{
    @apply border-2 border-sky-200 rounded-md px-2 hover:border-sky-400 hover:px-4;
}
.custom-hidden{
    @apply hidden
}
.inpt{
    @apply border-2 rounded-md border-gray-200 bg-gray-100 w-52 m-4;  
}
.radiobtn{
    @apply w-3 h-3 text-blue-600 bg-gray-100 border-gray-200  
}